
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: rgb(7, 7, 7);
  background-color: #f8f6f6;
  overflow-x: hidden;
}

.header-section {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.header-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  object-fit: cover;
  
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.header-slider img.active {
  opacity: 1 ;
}

.profile-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid #ca569f;
  object-fit: cover;
}


.navbar {
  display: flex;
  justify-content: center;
  background: rgba(15, 47, 84, 0.7);
  padding: 10px 0;
}

.navbar a {
  color: rgb(239, 236, 236);
  text-decoration: none;
  margin: 0 20px;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #ffd700;
  
}


.intro {
  text-align: center;
  padding: 40px 20px;
}

.heading {
  font-size: 2rem;
  color: #ca569f;
  margin-bottom: 20px;
}

.intro-triangle p {
  max-width: 600px;
  margin: 10px auto;
  line-height: 1.6;
}


.content-section {
  display: none;
  padding: 50px 20px;
  text-align: center;
}

.content-section h2 {
  color: #ca569f;
  font-size: 1.8rem;
  margin-bottom: 20px;
}


.project-card {
  background: rgba(15, 47, 84, 0.7);
  border: 1px solid #ca569f;
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(225, 241, 144, 0.3);
}

.project-card h3 {
  color: #ffeb3b;
  margin-bottom: 10px;
}


footer {
  text-align: center;
  background: rgba(15, 47, 84, 0.7);;
  padding: 2px;
  color: #ccc;
  font-size: 0.9rem;
}

.bio-section {
  text-align: center;
  padding: 10px;
}

.bio {
  color:#ca569f;
  font-size: 0.9rem;
}

.cv-card, .about-card {
  background: rgba(15, 47, 84, 0.7);
  border: 1px solid #ca569f;
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(225, 241, 144, 0.3);
  text-align: left;
  color: #fff;
}

.cv-card h2, .about-card h2 {
  color: #ffeb3b;
  text-align: center;
  margin-bottom: 15px;
}

